.navbar {
    overflow-x: hidden;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    padding: 2em;
    width: 100%;
    border-bottom: 0.2em var(--bg-secondary) solid;
    background-color: var(--bg-primary);
    z-index: 5;
    -webkit-animation: slide-in-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.navbar-contents {
    display: flex;
    justify-content: space-between;
    width: max-content;
    gap: 6em;
    list-style-type: none;
    font-size: 1.5rem;
    padding: 0;
}

.nav-link {
    color: var(--bg-secondary);
    letter-spacing: 0.1em;
    text-decoration: none;
}

.active {
    font-style: italic;
    font-weight: 900;
    text-decoration: underline;
}


/**Removes hover effects on touch devices **/
@media not all and (hover: none) {
    .nav-link:hover {
        background-color: var(--bg-secondary);
        color: var(--bg-primary);
    }
}